@{
    ViewBag.Title = "Historia";
}
<h2>@ViewBag.Title.</h2>
<h3>Historia Koła Pszczelarzy w Pabianicach w skrócie</h3>
<br/>
<p>
    <strong>Koło w Pabianicach</strong> zostało wydzielone z <strong>koła nr. 1 w Łodzi</strong> na posiedzeniu zarządu w dniu <strong>
        18 lutego 1981
        roku
    </strong>. W tym czasie liczba pszczelarzy w Łódzkim kole przekraczała 500 członków. Na początku istnienia naszego koła ilość pszczelarzy przekraczała
    120 członków.
</p>
<p>
    Byliśmy <strong>kołem nr. 8</strong>. Pierwszym Prezesem koła był kol. <strong>Roman Kazimierczak</strong>. W początkowym okresie głównym zadaniem był
    rozdział cukru na podkarmianie pszczół i dzięki pomocy Urzędu Miasta rozprowadzano krzewy i drzewka miododajne. Wyrywkowo kontrolowano pasieki pod
    względem zdrowotności.
</p>
<p>
    <strong>W roku 1983</strong> wybrano nowy Zarząd, przewodniczącym wybrano kol. <strong>Stanisława Szymczaka</strong>. Funkcję tą pełnił przez dwie kadencje.
    W tym czasie jak poprzedno rozprowadzano cukier i leki dla pszczół. Pojawiła się w pasiekach waroza. Liczba pszczelarzy wyraźnie się zmniejszyła.
    Dystrybutorem leków i cukru był kol. <strong>Edward Mikuta</strong>.
</p>
<p>
    <strong>W 1992 roku</strong> w wyborach Prezesem został wybrany kol. <strong>Krzysztof Jakubiec</strong>. W tym czasie liczba pszczelarzy wynosiła 47, ilość
    rodzin wynosiła 534 rodzin.
</p>
<p>
    Pszczelarze nasi liczni uczestniczyli w szkoleniach organizowanych w <strong>Domu Technika w Łodzi</strong>. Również w wyróżnieniach nas nie pomijano. Złotą odzankę
    PZP otrzymał kol. <strong>Stanisław Szymczak</strong>, Srebną odznakę PZP otrzymał kol. <strong>Mirosław Fiks</strong>, a brązową odznakę PZP otrzymali <strong>
        Zbigniew Fenceloben i Władysław Wdowiak
    </strong>.
</p>
<p>
    Kol. Jakubiec funkcję prezesa pełnił przez dwie kadencje. Nasze koło nie miało stałej siedziby. Przebywaliśmy w Urzędzie Miejskim, w "Polfie",
    a od <strong>roku 2000</strong> naszą siedzibą jest lokal przy <strong>ul. Traugutta 2</strong>. Lokal dzielimy z Sybirakami i Więźniami politycznymi okresu
    stalinowskiego i Wędkarzami.
</p>
<p>
    <strong>W 2002 roku obchodziliśmy 20-lecie</strong> powołania koła. Odznaczenia otrzymali: Medal im. Ks. Dr Jana Dzierżona - kol. <strong>
        Krzysztof Jakubiec
        i Stanisław Szymczak
    </strong>, Złotą odznakę PZP otrzymała kol. <strong>Elżbieta Pietrzak</strong>.
</p>
<p>
    <strong>W 2003 roku</strong> Prezesem wybrany został kol. <strong>Mirosław Fiks</strong>.
</p>
<p>
    Pszczelarze nie otrzymują obecnie cukru jako paszy, ale od 2006 roku pszczelarze otrzymują dotacje do leków i matek pszczelich. Dotacje otrzymujemy z
    Agencji Rynku Rolnego. Pszczelarze pabianiccy korzystają ze szkoleń organizowanych przez WZP w Łodzi.
</p>
<p>
    <strong>W roku 2005 obchodziliśmy 25-lecie</strong> powołania Rejonowego Koła Pszczelarzy w Pabianicach. Wspólnie z WZP w Łodzi zorganizowaliśmy <strong>
        VI Wojewódzkie Dni Pszczelarza
    </strong>, w których uczestniczyli przedstawiciele władz województwa, powiatu i miasta Pabianice oraz przedstawiciele PZP.
    W trakcie uroczytsości odznaczeni zostali pszczelarze naszego koła: medal im. Ks. Dr Jana Dzierżona otrzymał kol. <strong>Mirosław Fiks</strong>, srebną
    odznakę PZP otrzymali kol. <strong>Jan Wróblewski, Eugeniusz Rybak, Ryszard Brodala, Andrzej Dąbrowski </strong>. Brązowa odznaka PZP przyznana została kol.
    <strong>Wojciechowi Piechowskiemu</strong>, za całokształt pracy dyplomy otrzymało kilku kolegów.
</p>
<p>
    Od kilku lat organizujemu tradycyjny opłatek, w którym udział biorą władze miasta oraz Zarząd WZP.
</p>
<p>
    Kol. Mirosław Fiks pełni funkcję Prezesa trzecią kadencję.
</p>
<p>
    Na przełomie kilku lat liczba rodzin pszczelich rozrosła się od ok. 650 do przeszło 720.
</p>
<p>
    <strong>W roku 2011 nasze Koło obchodziło 30-lecie</strong> powołania Koła. Z tej okazji, wysiłkiem kolegów pszczelarzy i nielicznym dotacjom prywatnych przedsiębiorców
    i kilku osobom prywatnym, mogliśmy ufundować dla Koła sztandar. Wspólnie z WZP w Łodzi zorganizowaliśmy <strong>XI Wojewódzkie Dni Pszczelarza</strong>, w trakcie których
    został poświęcony nasz sztandar. Poświęcenie odbyło się w Kościele św. Mateusza, dokonali tego Ks. Prałat <strong>Jan Szuba</strong> i Kapelan wojewódzki Ks.
    <strong>Wiesław Kamiński</strong>. W uroczystościach brały udział władze województwa, oraz władze powiatu pabianickiego i miasta Pabianic. Nie zabrakło Zarządu WZP w Łodzi
    i przedstawicieli <strong>Polskiego Związku Pszczelarzy</strong>. Bardzo Liczną grupę stanowili Koledzy pszczelarze z kół woj. Łódzkiego.
</p>
<p>
    <strong>W roku 2014</strong> z przewodniczenia Koła, ze względu na stan zdrowia, zrezygnował kol. Fiks. Nowym Prezesem Koła został kol. <strong>Andrzej Piotrowicz</strong>.
    Na chwilę obecną nasze koło liczy ponad 50 członków, w posiadaniu ich jest obecnie ok. 800 rodzin pszczelich.
</p>
<p>
    <strong>
        Warto wspomnieć o kolegach, którzy odeszli od nas do Boskiej pasieki, są to Krzysztof Jakubiec, Władysław Wdowiak, Jan Wróblewski, Czesław Drewniak,
        Zbigniew Felcenloben, Zofia Staniucha i wielu, których tu nie wymieniono. Uczcijmy ich pamięć chwilą ciszy i wspomnieniem
    </strong>.
</p>

