@model RKPP.Models.New

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Aktualność</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <v>Data dodania</v>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            <v>Treść</v>
        </dt>

        <dd>
            @Html.DisplayWithBreaksFor(model => model.Content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powrót", "Index")
</p>
