@model IEnumerable<RKPP.Models.Plan>

@{
    ViewBag.Title = "Plan spotkań";
}

<h2 style="font-weight:bold;">Plan spotkań pszczelarzy Rejonowego Koła Pszczelarzy w Pabianicach</h2>

<div>
    <a href="#" class="image featured"><img src=@Url.Content("~/images/pic03_2.jpg") alt="" /></a>
</div>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p style="font-size:large;">
                    @Html.DisplayWithBreaksAndSpacesFor(modelItem => item.Content)
                </p>
                <p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Edytuj plan", "Edit", new { id = item.Id })
                        <v>|</v>
                    }
                </p>
            </td>
        </tr>
    }
</table>
<table align="center">
    <tr>
        <td style="font-weight:bold;" id="rowPadding">
            Spotkania mogą ulec zmianie z przyczyn nie zależnych od Zarządu.
        </td>
    </tr>
    <tr>
        <td id="rowPadding">
            Zarząd Koła prosi koleżanki i kolegów o systematyczny udział w zebraniach. Imprezy i spotkania nie ujęte w harmonogramie omawiane będą na spotkaniu wcześniejszym.
        </td>
    </tr>
    <tr>
        <td id="rowPadding">
            Działanie klubu dyskusyjnego zależy od zainteresowania pszczelarzy.
        </td>
    </tr>
    <tr>
        <td id="rowPadding">
            Zarząd Koła zaprasza zainteresowanych pszczelarstwem.
        </td>
    </tr>
</table>

<style type="text/css">
    #rowPadding {
        padding-top: 10px;
        text-align: center;
    }

    .image.featured {
        display: block;
        width: 100%;
        margin: 0 0 2em 0;
    }
</style>